[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=upload;
Encoding=UTF-8

[Desktop Action upload]
Name=Upload to Host
Icon=None
Exec=/usr/bin/upload-file "%f"